{% extends "index.twig" %}

{% block content %}
    {% set products = craft.entries.section('products').all() %}

    <section class="section">
        <div class="container">
            <div class="content-column">
                <h1 class="mb-5 text-warning text-center">Our Products</h1>

                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4 col-sm-6">
                            <div class="card mx-3 my-5 py-2 border-white">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.beerName }}</h5>

                                    <p>{{ product.abv }}</p>
                                    
                                    <a href="{{ product.slug }}" class="btn btn-light card-link link-unstyled">More Info</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}