<footer class="footer">
    <div class="container text-center footer-text text-muted">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <p>&copy; 2022 Company, Inc</p>
            </div>

            <div class="col-md-4 col-sm-12">
                <p>
                    Goodbeers Inc.<br>
                    35-41 Drymuir Road<br>
                    Edinburgh EH16 1UU
                </p>
            </div>

            <div class="col-md-4 col-sm-12">
                <a href="contact" class="link-unstyled {% if craft.app.request.url == "/contact" %}active{% endif %}">Contact</a><br>
                <a href="terms-and-conditions" class="link-unstyled {% if craft.app.request.url == "/terms-and-conditions" %}active{% endif %}">Terms and Conditions</a>
            </div>
        </div>
    </div>
</footer>