<footer class="footer">
    <div class="container text-center footer-text text-muted">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <p>&copy; 2022 Company, Inc</p>
            </div>

            <div class="col-md-4 col-sm-12">
                <p>
                    Goodbeers Inc.<br>
                    35-41 Drymuir Road<br>
                    Edinburgh EH16 1UU
                </p>
            </div>

            <div class="col-md-4 col-sm-12">
                {% for link in footer.footerNavigation %}
                    {% set destination = link.linkDestination.one() %}

                    <a href="{{ destination.slug }}" class="link-unstyled {% if craft.app.request.url == "/{{ destination.slug }}" %}active{% endif %}">{{ link.linkText }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>