<footer class="footer">
    <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>

        <div class="col-md-4 pt-3">
            <p class="text-muted text-center">
                Goodbeers Inc.<br>
                35-41 Drymuir Road<br>
                Edinburgh EH16 1UU
            </p>
        </div>  

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <a href="contact" class="nav-link px-2 text-muted">Contact</a>
            </li>

            <li class="nav-item">
                <a href="terms-and-conditions" class="nav-link px-2 text-muted">Terms and Conditions</a>
            </li>
        </ul>
    </div>
</footer>