<nav class="navbar navbar-expand-lg navbar-dark bg-none p-4">
    <div class="container">
        <a class="navbar-brand" href="/">GOOD<span class="text-warning">BEERS <i class="fa-solid fa-beer-mug-empty"></i></span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for link in header.navigation %}
                    {% set destination = link.linkDestination.one() %}
                    
                    <li class="nav-item">
                        <a class="nav-link {% if craft.app.request.url == "{{ destination.slug }}" %}active{% endif %}" href="{{ destination.slug }}">{{ link.linkText }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>