<nav class="navbar navbar-expand-lg navbar-dark bg-black p-4">
    <div class="container">
        <a class="navbar-brand" href="/">GOOD<span class="text-warning">BEERS <i class="fa-solid fa-beer-mug-empty"></i></span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="about">About Us</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Products
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- TODO link for loop -->
                        <li><a class="dropdown-item" href="#">Staunton Stout</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Stockists
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- TODO link for loop -->
                        <li><a class="dropdown-item" href="#">Papa Johns</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>