html {
    background-color: black;
}

.wrapper {
    min-height: calc(100vh - 155px);
    background-color: black;
}

.navbar-nav {
    margin-left: auto !important
}

.nav-item {
    margin-left: 50px;
}


.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Misc --------------------- */
ul {
    list-style-type: none;
}

@media screen and (max-width: 480px) {
    .footer-text {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1200px) {
.footer-text {
        font-size: 9px;
    }
}