* {
    position: relative;
}

html {
    background-color: black;
}

.wrapper {
    min-height: calc(100vh - 80.5px);
    background-color: black;
}

.navbar-nav {
    margin-left: auto !important
}

.nav-item {
    margin-left: 50px;
}


.link-unstyled, .link-unstyled:link {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:hover {
    color: rgba(255,255,255,.75);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.footer{
    padding: 20px;
    background-color: black;
}

/* Misc --------------------- */
ul {
    list-style-type: none;
}

@media screen and (max-width: 480px) {
    .footer-text {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1200px) {
.footer-text {
        font-size: 9px;
    }
}