/* General ----------------------------------- */
body, html {
    height: 100%;
}

.link-unstyled, .link-unstyled:link {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:hover {
    color: rgba(255,255,255,.75);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.content-column--narrow {
    margin: 0 auto;
    max-width: 760px;
    padding: 0 40px;
}

.content-column {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 40px;
}

.section {
    padding: 3em 0;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    display: flex;
}

ul {
    list-style-type: none;
}

/* Navbar ------------------------------------ */

.navbar-nav {
    margin-left: auto !important
}

.nav-item {
    margin-left: 50px;
}

/* Home page ---------------------------------- */

.wrapper {
    min-height: 100vh;
    background-color: black;
}

.hero {
    margin: -88px 0 0;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--true-black);
}

.hero-content {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.hero h1 {
    z-index: 20;
    font-size: 4em;
    line-height: 1.2;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
    text-align: center;
    color: white;
}

.home-text {
    background:#7f7f7f;
    background:rgba(255, 255, 255, 0.1);
}

/* Products ---------------------------------- */

.card {
    text-align: center;
    background-color: black !important;
    color: white;
}

/* Form -------------------------------------- */

#spam {
    display: none;
}

/* Map --------------------------------------- */

#map {
    height: 400px;
}

/* Footer ------------------------------------ */

.footer{
    font-size: 11px;
    padding: 20px;
    background-color: black;
}

/* Media Queries ----------------------------- */

@media screen and (max-width: 380px) {
    .hero h1 {
        font-size: 1em;
    }

    .footer-text {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1200px) {
.footer-text {
        font-size: 9px;
    }
}