{% extends "index.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="content-column--narrow text-center">
                <h1 class="mb-5 text-warning">
                    <!-- Thank you message displaying first name from user form input -->
                    Thanks for sending that in, {{ craft.app.request.getQueryParam('from') }}!
                </h1>

                <p class="text-white">We'll be in touch soon.</p>
            </div>
        </div>
    </section>
{% endblock %}