{% extends "index.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="content-column--narrow">
                <h1 class="mb-5 text-warning text-center">About Us</h1>

                <p class="">{{ entry.aboutText }}</p>
            </div>
        </div>
    </section>
{% endblock %}