{% extends "index.twig" %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <div class="container text-center">
                <div class="row">
                    <div class="col-3"></div>

                    <div class="col-6">
                        <p class="text-white">{{ entry.aboutText }}</p>
                    </div>

                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}