{% extends "index.twig" %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <div class="container text-center">
                <div class="row">
                    <div class="col-3"></div>

                    <div class="col-6 text-white">
                        <p>
                            Goodbeers Inc.
                            35-41 Drymuir Road
                            Edinburgh EH16 1UU
                        </p>

                        <div id="contact_submit"></div>

                        <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                            <label for="name">Your details</label>

                            <input required id="name" class="input" name="name" type="text" value="" placeholder="Name"/><br>

                            <input required id="email" class="input" name="email" type="text" value="" placeholder="Email"/><br>

                            <label for="select">What are you contacting us about?</label>

                            <select name="select" id="select">
                                <option></option>

                                <option value="Product Information">Product information</option>

                                <option value="Customer care enquiries">Customer care enquiries</option>

                                <option value="Licensing and branding">Licensing and branding</option>

                                <option value="General">General</option>
                            </select>

                            <label for="message">Your message</label>

                            <textarea required id="message" class="input" name="message" value="" rows="7" cols="30"></textarea><br>

                            <input id="submit_button" type="submit" value="Send Email"/>
                        </form>
                    </div>

                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}