{% extends "index.twig" %}

{% block content %}
    {# <div class="container h-100">
        <div class="row">
            <div class="col-12">
                <p class="text-center my-auto">
                    Welcome to Goodbeers, Inc. We are Scotland’s premier supplier of craft beers, ales, stouts, and lagers. If you have a customer enquiry, please [contact us](link to contact), or you can learn more about our [history](link to about us) or [products](link to our products).
                </p>
            </div>
        </div>
    </div> #}
{% endblock %}