{% extends "index.twig" %}

{% block content %}
    {% set image = entry.heroImage.one() %}

    <section class="hero" style="background-image: linear-gradient(to top, transparent, black), url('{{ image.url }}')">
        <div class="hero-content">
            <div class="container">
                <div class="row">
                    <div class="col-3"></div>

                    <div class="col-6">
                        <h1>{{ entry.heroTitle }}</h1>
                    </div>

                    <div class="col-3"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-4"></div>

                <div class="col-4 p-4 home-text text-center">
                    <p class="text-white">
                        We are Scotland’s premier supplier of craft beers, ales, stouts, and lagers. 
                        If you have a customer enquiry, please 
                        <a class="link-unstyled text-warning" href="contact">contact us</a>, 
                        or you can learn more about our 
                        <a class="link-unstyled text-warning" href="about">history</a> or 
                        <a class="link-unstyled text-warning" href="#">products</a>.
                    </p>
                </div>

                <div class="col-4"></div>
            </div>
        </div>
    </section>
{% endblock %}