{% extends "index.twig" %}

{% block content %}
    {% set image = entry.heroImage.one() %}

    <section class="hero" style="background-image: linear-gradient(to top, transparent, black), url('{{ image.url }}')">
        <div class="hero-content">
            <div class="container">
                <div class="content-column--narrow">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{{ entry.heroTitle }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="content-column--narrow">
                <div class="row">
                    <div class="col-md-12 p-4 home-text text-center">
                        <p class="text-white">{{ entry.homeText }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}