{% extends "index.twig" %}

{% block content %}
    <section>
        {% set products = craft.entries.section('products').all() %}

        <div class="container hero-content">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="my-auto text-white text-center">
                    <h1>Search for a stockist</h1>

                    <div>
                        <form action="results">
                            <label for="q">Search by name:</label>

                            <input type="search" name="q">
                            
                            <input type="submit" value="Go">
                        </form>

                        <form action="results">
                            <label for="q">Search by product:</label>

                            <select type="search" name="q">
                                    <option></option>
                                {% for product in products %}
                                    <option value="{{ product.beerName }}">{{ product.beerName }}</option>
                                {% endfor %}
                            </select>

                            <input type="submit" value="Go">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}