{% extends "index.twig" %}

{% block content %}
    <!-- Set products variable from every product craft entry to be used in loop -->
    {% set products = craft.entries.section('products').all() %}

    <section class="section">
        <div class="container">
            <div class="content-column--narrow">
                <div class="my-auto text-white text-center">
                    <h1 class="mb-5 text-warning text-center">Search for a stockist</h1>

                    <div class="text-center">

                        <!-- Forms will send input data to results.html -->
                        <form action="results">
                            <div class="form-group">
                                <label class="mb-2" for="n">Search by name:</label>

                                <input class="mb-2 form-control w-50 mx-auto" type="search" name="n">
                                
                                <input hidden type="submit" value="Go">
                            </div>
                        </form>
                        
                        <form action="results">
                            <div class="form-group">
                                <label class="mb-2" for="b">Search by product:</label>

                                <select class="mb-2 form-control w-50 mx-auto" type="search" name="b">
                                    <option></option>
                                    
                                    <!-- Loop through products variable to display data set -->
                                    {% for product in products %}
                                        <option value="{{ product.title }}">{{ product.title }}</option>
                                    {% endfor %}
                                </select>

                                <input hidden type="submit" value="Go">
                            </div>
                        </form>
                    </div>

                    <p class="mb-2" for="b">Search by location:</p>

                    <!-- Display map -->
                    <div class="col-md-12 text-black">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="static/js/stockistData.js"></script>

        <script src="static/js/locator.js"></script>

        <!-- Access google maps api with api key. Src will initialise the map in locator.js -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA26wiZoEeMSjknDUe0N_0cHaARYvHV1Uo&callback=initMap">
        </script>
    </section>
{% endblock %}