{% extends "index.twig" %}

{% block content %}
    {% set products = craft.entries.section('products').all() %}

    <section class="section">
        <div class="container">
            <div class="content-column--narrow">
                <div class="my-auto text-white text-center">
                    <h1 class="mb-5 text-warning text-center">Search for a stockist</h1>

                    <div class="row">
                        <div class="col-md-4 col-sm-3"></div>
                        
                        <div class="col-md-4 col-sm-6">
                            <form action="results">
                                <div class="form-group">
                                    <label class="mb-2" for="n">Search by name:</label>

                                    <input class="mb-2 form-control" type="search" name="n">
                                    
                                    <input hidden type="submit" value="Go">
                                </div>
                            </form>

                            <form action="results">
                                <div class="form-group">
                                    <label class="mb-2" for="b">Search by product:</label>

                                    <select class="mb-2 form-control" type="search" name="b">
                                        <option></option>
                                        
                                        {% for product in products %}
                                            <option value="{{ product.beerName }}">{{ product.beerName }}</option>
                                        {% endfor %}
                                    </select>

                                    <input hidden type="submit" value="Go">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4 col-sm-3"></div>

                        <p class="mb-2" for="b">Search by location:</p>
                        <div class="col-md-12 text-black">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="static/js/stockistData.js"></script>

        <script src="static/js/locator.js"></script>

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA26wiZoEeMSjknDUe0N_0cHaARYvHV1Uo&callback=initMap">
        </script>
    </section>
{% endblock %}